version: '3.6'

services: 
  flexxuserpweb:
    image: fabreguesm/orderweb:latest
    ports: 
      - '5001:80'
    networks:
      - traefik
    deploy:      
      placement:
        constraints: ["${NODE}"]      
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.${SERVICE_NAME}.entrypoints=web"
        - "traefik.http.routers.${SERVICE_NAME}.rule=Host(`${DOMAIN_NAME}`)"
        - "traefik.http.middlewares.${SERVICE_NAME}-http.redirectscheme.scheme=https"
        - "traefik.http.routers.${SERVICE_NAME}-https.rule=Host(`${DOMAIN_NAME}`)"
        - "traefik.http.routers.${SERVICE_NAME}-https.entrypoints=https"
        - "traefik.http.routers.${SERVICE_NAME}-https.tls=true"
        - "traefik.http.routers.${SERVICE_NAME}-https.tls.certresolver=myresolver"
        - "traefik.http.services.${SERVICE_NAME}.loadbalancer.server.port=5001"     
    environment:
      - MAIL_TO_ERROR=errores.flexxus@gmail.com
      - URL_MAP_SERVICE=http://10.150.4.12:15310
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}  
networks:
  traefik:
    external:
      name: traefik-network
